body {
    background-color: seashell;
}

#hidden-letters {
    display: flex;
    flex-direction: column;
}

.word {
    margin: 10px;
}

.letter {
    border-bottom: 5px solid black;
    color: rgb(71, 44, 24);
    font-size: 20pt;
    padding: 5px;
    margin: 5px;
}

#cover-settings {
    position: absolute;
    display: none;
    background-color: seashell;
    opacity: 90%;
    width: 100%;
    height: 500px;
}

#game-area {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}

#failed-letters {
    display: flex;
    flex-direction: column;
    font-size: 20pt;
    font-weight: bold;
    width: 50px;
    justify-content: center;
    align-items: center;
}

#failed-letters span {
    text-decoration: line-through;
}

#current-letter {
    position: absolute;
    font-size: 50pt;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}

#hanged-man { 
    display: flex;
    padding: 50px;
}

#scaffold {
    position: relative;
    width: 30px;
    height: 200px;
}

#base {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 10px;
    background-color: rgb(75, 32, 32);
}

#tower {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 200px;
    background-color: rgb(75, 32, 32);
}

#tower-arm {
    position: absolute;
    left: 10px;
    width: 70px;
    height: 10px;
    background-color: rgb(75, 32, 32);
}

#rope {
    position: absolute;
    left: 70px;
    width: 4px;
    height: 50px;
    background-color: brown;
    display: none;
}

#stick-figure {
    position: relative;
    justify-self: center;
    width: 30px;
    height: 100px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 10px;
}

#stick-head {
    position: absolute;
    left: 18px;
    top: 8px;
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: none;
}

#stick-body {
    position: absolute;
    top: 30px;
    left: 25px;
    height: 50px;
    width: 10px;
    background-color:black;
    border-radius: 10px;
    display: none;
}

#stick-left-leg {
    position: absolute;
    top: 70px;
    left: 15px;
    height: 50px;
    width: 8px;
    background-color:black;
    border-radius: 10px;
    transform: rotate(25deg);
    display: none;
}

#stick-left-arm {
    position: absolute;
    top: 40px;
    left: 15px;
    height: 40px;
    width: 8px;
    background-color: black;
    border-radius: 10px;
    transform: rotate(25deg);
    display: none;
}

#stick-right-leg {
    position: absolute;
    top: 70px;
    left: 38px;
    height: 50px;
    width: 8px;
    background-color:black;
    border-radius: 10px;
    transform: rotate(-25deg);
    display: none;
}

#stick-right-arm {
    position: absolute;
    top: 40px;
    left: 38px;
    height: 40px;
    width: 8px;
    background-color: black;
    border-radius: 10px;
    transform: rotate(-25deg);
    display: none;
}
