body {
    background-color: aqua;
}

#hidden-letters {
    display: flex;
    flex-direction: row;
}

.word {
    margin: 10px;
}

.letter {
    border-bottom: 5px solid black;
    color: white;
    font-size: 20pt;
    padding: 5px;
    margin: 5px;
}

#cover-settings {
    position: absolute;
    display: none;
    background-color: aqua;
    opacity: 90%;
    width: 100%;
    height: 500px;
}